<span>
    <div class="row" style="color:White">
    	<div class="col-md-12 mb-4 ">
            <h5 class="text-center">
                <p>Preguntas frecuentes y no tan frecuentes</p>
            </h5>
        </div>
		<div class="col-md-12 mb-4" style="text-align:left;">
            <h6>
                <p>P: ¿Cual es la finalidad de está página?</p>
				<p>R: En primer lugar, aprobar el final de Programación Web I. En segundo lugar, habilitar un espacio para que las personas que están buscando un libro y no
				lo encuentran o bien salga una buena cantidad de dinero, tengan una alternativa para leerlo y, porqué no, conocer gente con la cual conectar a través de intereses
				comunes.</p>
            </h6>
        </div>
		<div class="col-md-12 mb-4" style="text-align:left;">
            <h6>
                <p>P: ¿Quien la administra?</p>
				<p>R: No quieren saberlo. Está loca.</p>
            </h6>
        </div>
		<div class="col-md-12 mb-4" style="text-align:left;">
            <h6>
                <p>P: ¿En algún momento se me va a solicitar pagar para seguir inscripto?</p>
				<p>R: No. El objetivo de esto es ser un espacio gratuito y no comprometer el bolsillo de nadie.</p>
            </h6>
        </div>
		<div class="col-md-12 mb-4" style="text-align:left;">
            <h6>
                <p>P: ¿Y pueden pedirme algún dato personal más allá de los que ya usé para crearme un usuario?</p>
				<p>R: De nuevo, NO. Los datos pedidos para crear tu usuario son los mínimos necesarios para identificarte. Nunca te vamos a pedir datos personales como domicilio,
				teléfono, fecha de nacimiento o grupo sanguíneo simplemente porque no hacen al propósito de este sitio.</p>
            </h6>
        </div>
		<div class="col-md-12 mb-4" style="text-align:left;">
            <h6>
                <p>P: ¿Como establezco el plazo de préstamo?</p>
				<p>R: Todavía estoy trabajando en ello. Mientras tanto, cada uno está en libertad de establecer el plazo de préstamo, siempre que sea medianamente razonable.
				Si prestaron La Divina Comedia, traten de darle más de 24 horas al lector.</p>
            </h6>
        </div>
		<div class="col-md-12 mb-4" style="text-align:left;">
            <h6>
                <p>P: ¿Y si no me devuelven el libro?</p>
				<p>R: La pregunta del millón. También todavía estoy trabajando en ello. Mientras tanto, en caso de que esto suceda, le envian un mensaje al administrador 
				(la que suscribe), me informan el nombre del usuario y me encargo de eliminarlo (de la página nomás, por favor no se hagan ideas raras)</p>
            </h6>
        </div>
		<div class="col-md-12 mb-4" style="text-align:left;">
            <h6>
                <p>P: Si doy de baja mi perfil, ¿puedo volver a suscribirme con el mismo correo que usé antes?</p>
				<p>R: Por supuesto, podés volver a usar los mismos datos que antes si así lo preferís.</p>
            </h6>
        </div>
		<div class="col-md-12 mb-4" style="text-align:left;">
            <h6>
                <p>P: ¿Puedo comunicarme via email con otros usuarios? ¿Puedo pasarles mi email?</p>
				<p>R: Solo si un usuario te proporciona su email o vos querés dárselo. Es preferible que la comunicación entre usuarios se de a través de la página para poder 
				tener registro en caso de presentarse alguna queja, pero todos son libres de interactuar por afuera del sitio.</p>
            </h6>
        </div>
		<div class="col-md-12 mb-4" style="text-align:center">
            <h6>
                <p><i>¿Tenés más preguntas? Todos las tenemos. Mientras tanto,<a href="#!/ayuda"> entrá acá</a> para dejar las tuyas referidas a este sitio o hacé<a href="#!/libros"> clic acá</a> 
				para volver a la página principal.</i></p>
            </h6>
        </div>
    </div>
</span>