<span>
    <div class="row" style="color:White">
    	<div class="col-md-12 mb-4 ">
            <h5 class="text-center">
                <p>Sobre mí y esta página</p>
            </h5>
        </div>
		<div class="col-md-12 mb-4" style="text-align:left;">
            <h6>
                <p style="line-height: 170%">La finalidad de crear esta página, más alla de aprobar un examen, vino de la mano de mi experiencia como bibliotecaria y lectora. ¿Cuantas veces nos pasa que estamos
				interesados en leer un libro que nos sale un ojo de la cara o no se consigue por ningún rincón de la internet? Con suerte está en alguna biblioteca que tiene préstamo
				y podemos llevarlo a casa unos días. Peor de los casos, si no tiene préstamo, tendremos que ir varios días a esa biblioteca y leerlo en la sala de lectura. Y con los
				tiempos que corren hoy, son pocos los que pueden darse ese lujo. Entonces, si existen sitios para conocer pareja, sitios para carpool, sitios de intercambios de quien sabe
				cuantas cosas más... ¿porque no un sitio donde una persona pueda prestarle a otra un libro que siempre quiso leer y no pudo conseguir? La finalidad de una biblioteca, más
				allá de resguardar el patrimonio, es poner a disposición del público el acervo cultural de nuestro país, entonces porque no extender esa funcionalidad a los propios
				usuarios y habilitar otro acceso a esa colección.</p>
				<p>Del público para el público.</p>
            </h6>
        </div>
		<div class="col-md-12 mb-4" style="text-align:center;">
		    <a href="#!/libros" class="btn btn-warning" type="button">Volver</a>
		</div>
    </div>
</span>